/**
  *@file:aside
  *@author:liyacheng
  *
  *@update:2016-08-17
  */

/*===aside===*/
.aside{
    padding-right: 2%;
}
.aside > h2{
    width: 100%;
    height: 56px;
    padding-left: 9%;
    background: #019b8d;
    line-height: 56px;
    color: #fff;
    letter-spacing: 5px;
}
.aside > h2 > span{
    margin-right: 15px;
}
.aside > ul{
    width: 100%;
}
.aside > ul > li{
    width: 100%;
    margin-bottom: 2px;
}
.aside > ul > li > span{
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    padding: 0 10px;
    line-height: 44px;
    color: #ffa303;
    cursor: pointer;
}
.aside > ul > li > a{
    display: block;
    width: 100%;
    height: 44px;
    padding-left: 50px;
    background: #eee;
    line-height: 44px;
    color: #333;
}
.aside > ul > li > a:hover,
.aside > ul > li > a.asideCurrent{
    background: #c8e8e6;
    color: #054c46;
}
.aside li > ul{
    display: none;
    padding: 10px 2px ;
    background: #f8f8f8;
}
.aside li > ul > li > a{
    display: block;
    height: 36px;
    padding: 0 20px 0 30px;
    line-height: 36px;
    color: #333;
}
.aside li > ul > li > a > i{
    margin-right: 10px;
}
.aside li > ul > li > a:hover,
.aside li > ul > li > a.search-subCurrent{
    background: #d9f4f2;
    color: #054c46;
}
@media screen and (max-width: 1024px) {
    .aside > h2{
        height: 50px;
        line-height: 50px;
    }
    .aside > ul > li > a{
        height: 40px;
        line-height: 40px;
    }
    .aside > ul > li > span{
        line-height: 40px;
    }
    .aside li > ul > li > a{
        height: 30px;
        line-height: 30px;
    }
}

/*===aside 结束===*/

.inside-right{
    min-height: 500px;
    padding-left: 1.8%;
    background: url(../images/img-locationBg_1.jpg) right -43px no-repeat;

}
.aside,
.inside-right{
    margin-bottom: 60px;
}
@media screen and (max-width: 1024px) {
    .aside,
    .inside-right{
        margin-bottom: 54px;

    }
}

.inside-right em{
    color: #ffa303;
}
.inside-right span em{
    margin: 0 6px;
}
.inside-rightTitle{
    width: 100%;
    margin-top: 30px;
    line-height: 50px;
}
.inside-rightTitle > span{
    margin: 0 18px;
}
.inside-rightTitle,
.inside-rightTitle2{
    color: #5d4226;
}
.inside-rightTitleCon{
    color: #333;
}
.inside-rightTitle2{
    height: 41px;
    border-bottom: 1px solid #eee;
    line-height: 40px;
}
.inside-rightTitle2:before{
    content: "";
    position: absolute;
    width: 52px;
    height: 4px;
    margin-top: 37px;
    background: #019b8d;
}
.inside-rightTitle > span.inside-operate,
.resultList-addFavBtn{
    color: #898989;
}
.resultList-addFavBtn:hover{
    color: #019b8d;
}
.inside-rightTitle > span > input{
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.inside-rightExplain,
.inside-rightExplain2{
    line-height: 30px;
    color: #999;
}
.inside-rightExplain{
    margin: 10px 0;

}
.inside-rightExplain2{
    margin-top: -20px;
    border-bottom: 1px solid #dcdcdc;

}
.inside-rightExplain > span + span{
    margin-left: 30px;
}
.inside-rightExplain > span > em{
    color: #019b8d;
}
.inside-rightContent{
    margin: 20px auto;
    text-align: justify;
    text-justify: inter-ideograph;
    color: #333;
    line-height: 30px;
}
.inside-rightContent img{
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    border: none;
}

@media screen and (max-width: 1024px) {
    .inside-rightTitle{
        line-height: 44px;
    }
    .inside-rightExplain{
        margin: 6px 0;
    }
    .inside-rightExplain > span + span{
        margin-left: 26px;
    }
    .inside-rightContent{
        line-height: 26px;
    }
}
.inside-goBack,
.book-download{
    display: inline-block;
    background: #019b8d;
    color: #fff;
    border-radius: 5px;
    behavior: url(PIE.htc);
}
.inside-goBack{
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
}
.book-download{
    height: 28px;
    padding: 0 10px;
    line-height: 28px;
}
.inside-goBack:hover,
.inside-goBack:focus,
.book-download:hover,
.book-download:focus{
    background: #017a6f;
    color: #fff;
}