/**
  *@file:base-headerFooter
  *@author:liyacheng
  *
  *@update:2016-08-17
  */
a:hover,
a:focus{
    text-decoration: none;
}

/*===header===*/
.header{
    width: 100%;
    min-width: 960px;
    height: 106px;
    background: #fff;
}
.header-logo{
    display: block;
    padding-top: 8px;
}
.header-logo img{
    width: 562px;
    height: 92px;
}
@media screen and (max-width: 1024px) {
    .header{
        height: 100px;
    }
    .header-logo{
        padding-top: 4px;
    }
    .header-logo img{
        height: 86px;
    }
}
.header-exit{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background: #019b8d;
    color: #fff;
    behavior: url(PIE.htc);
}
.header-exit:hover,
.header-exit:focus{
    background: #017a6f;
    color: #fff;
}
#today{
    display: block;
    padding: 8px 0 0 30px;
    background: url(../images/icon-home_1.png) no-repeat 0 13px;
    color: #019b8d;
    line-height: 30px;
}
/*===header 结束===*/

/*===nav===*/
.nav{
    position: relative;
    width: 100%;
    min-width: 960px;
    height: 44px;
    background: #019b8d;
    z-index: 9;

}
.nav > ul > li{
    float: left;
}
.nav > ul > li > a{
    display: block;
    height: 44px;
    padding: 0 25px;
    line-height: 44px;
    color: #fff;
    letter-spacing: 2px;
}
.nav > ul > li > a > span{
    position: relative;
    top: -1px;
    margin-left: 6px;
}
.nav > ul > li:hover > a,
.nav > ul > li:focus > a,
.nav > ul > li.navCurrent > a{
    background: #017a6f;
    color: #fff;
}
.nav li > ul{
    position: absolute;
    display: none;
    padding-bottom: 10px;
    padding-top: 3px;
    border-top: 4px solid #ffa303;
    background: #fff;
    z-index: 999;
}
.nav li > ul > li{
    position: relative;
    width: 100%;
    z-index: 999;
}
.nav li > ul > li > a{
    display: block;
    padding: 0 20px;
    color: #333;
    line-height: 24px;
}
.nav > ul > li:hover ul{
    display: block;
}
.nav li > ul > li > a:hover{
    background: #019b8d;
    color: #fff;
}
@media screen and (max-width: 1024px) {
    .nav{
        height: 42px;
    }
    .nav > ul > li > a{
        height: 42px;
        line-height: 42px;
    }
}




/*===nav 结束===*/

.home-tabPanel{
    display: none;
}
.home-tabPanelActive{
    display: block;
}

.banner-searchWrap{
    min-width: 960px;
    padding: 27px 0 33px 0;
    background: url(../images/img-banner_2.jpg) bottom center no-repeat;
}
/*===search===*/
.banner-search,
.banner-searchTabsBd{
    width: 630px;
    margin: 0 auto;
}
.banner-searchTabsBd{
    height: 104px;
}
.banner-searchNav{
    height: 30px;
}
.banner-search > ul > li{
    height: 30px;
    padding: 0 15px;
    margin-right: 2px;
    border-radius: 5px 5px 0 0;
    background: #019b8d;
    color: #fff;
    cursor: pointer;
    line-height: 32px;
}
.banner-search > ul > li.home-navActive{
    background:transparent;
    background-color:rgba(255,255,255,0.8);
    color: #333;
}

.banner-searchTabsBd{
    padding: 20px 40px;
    border-radius: 0 5px 5px 5px;
    background:transparent;
    background:rgba(255,255,255,0.8);
}
.banner-searchTabPanel{
    width: 550px;
    height: 38px;
}
.banner-searchForm input[type="text"],
.banner-searchSubmit,
.banner-searchForm select{
    height: 38px;
    padding: 6px;
}
.banner-searchForm input[type="text"]{
    width: 360px;
    border: 1px solid #a6a7a7;
    border-right: 0;
    background: none;
    line-height: 26px;
}

.banner-searchForm input.banner-searchSubmit{
    width: 88px;
    border: none;
    background: #019b8d;
    color: #fff;
    font-size: 16px;
}
.banner-searchForm select{
    width: 100px;
    border: 1px solid #a6a7a7;
    border-right: 0;
    background: none;
}
.checkboxWrap{
    height: 30px;
    margin-top: 5px;
    line-height: 30px;
}
.checkboxWrap > span + span{
    margin-left: 19px;
}
.checkboxWrap > span > input{
    position: relative;
    top: 2px;
    background: none;
}

/*===search 结束===*/

/*===footer===*/
.footer{
    width: 100%;
    min-width: 960px;
    height: 100px;
    padding: 20px 0;
    background: #017a6f;
    color: #fff;
    line-height: 24px;
}
.footer em{
    color: #c4e5d6;
}
.footer a{
    color: #019b8d;
}
.footer-copyright{
    width: 790px;
    padding-top: 6px;
}
.footer-total{
    width: 190px;
    height: 60px;
    overflow: hidden;
    padding: 0 30px;
    border-left: 1px dashed #c4e5d6;

}
.footer-total > p{
    position: relative;
    top: -6px;
}
@media screen and (max-width: 1024px) {
    .footer{
        height: 90px;
        padding: 15px 0;
    }
    .footer-copyright{
        width: 740px;
    }
}
/*===footer 结束===*/