/**
  *@file:booksList
  *@author:liyacheng
  *
  *@update:2016-08-25
  */

/*===booksList===*/

.bookListTitle{
    min-height: 28px;
    margin-top: 20px;
    line-height: 28px;
    color: #5d4226;
}

.bookListTitle > select{
    min-width: 200px;
    padding: 5px 10px;
    color: #898989;
}
/*booksList*/
.booksList > li{
    border: 1px solid #dcdcdc;
    margin-bottom: 15px;
}
.bookImg{
    display: block;
    width: 17.5%;
    border-right: 1px solid #dcdcdc;

}
.bookImg > img{
    width: 100%;
}
.bookBrief{
    width: 82.5%;
    color: #777;
    line-height: 22px;
}
.bookBrief > h3{
    height: 40px;
    padding-right: 10px;
    margin-bottom: 3px;
    overflow: hidden;
    border-bottom: 1px solid #dcdcdc;
    line-height: 40px;
}
.bookBrief > h3 > a:first-child{
    display: inline-block;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #111;
    white-space: nowrap;
}
.bookBrief > h3 > a + a{
    color: #019b8d;
}
.bookBrief > h3 > a:hover{
    color: #017a6f;
}
.bookBriefCon{
    min-height: 22px;
    max-height: 44px;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-ideograph;
}
.bookBriefCon > strong:first-child{
    height: 44px;
}
.bookBrief > p,
.bookBriefCon{
    padding: 0 10px;
}
.bookBrief > p > strong,
.bookBriefCon > strong{
    color: #111;
}
@media screen and (max-width: 1024px) {
    .bookBrief > h3{
        height: 36px;
        line-height: 36px;
    }
    .bookBrief{
        line-height: 20px;
    }
}
/*===booksList 结束===*/

/*===book===*/
.book-explain,
.book-explain2{
    line-height: 30px;
    color: #898989;
}
.book-explain > span{
    color: #5d4226;
}
.book-explain2 > span > strong{
    color: #111;
    font-weight: normal;
}
.book-img img{
    max-width: 100%;
    max-height: 500px;
    margin: 0 auto;
}

.book-other{
    width: 100%;
}
.book-other > p{
    width: 50%;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.book-other > p > a{
    color: #111;
}
.book-other > p > a:hover{
    color: #019b8d;
}
/*===book 结束===*/

/*===bookLiterate===*/
.bookLiterate{
    border: 1px solid #dcdcdc;
    background: #fff;
}
.bookLiterate > li{
    height: 43px;
    padding: 0 15px;
    border-bottom: 1px solid #dcdcdc;
    line-height: 42px;
}
.bookLiterate > li > h3{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 42px;

}
.bookLiterate > li:last-child{
    border: none;
}

@media screen and (max-width: 1024px) {
    .bookLiterate > li{
        height: 37px;
        line-height: 36px;
    }
    .bookLiterate > li > h3{
        line-height: 36px;

    }
}
/*===bookLiterate 结束===*/


