/**
  *@file:location
  *@author:liyacheng
  *
  *@update:2016-08-17
  */

.locationWrap{
    width: 100%;
    min-width: 960px;
    border-bottom: 1px solid #019b8d;
}
.location{
    height: 57px;
    padding: 11px 0;
    background: url(../images/img-locationBg_1.jpg) right 15px no-repeat;
    line-height: 34px;
}
.location > i{
    margin: 0 6px;
}
.location > i:first-child{
    color: #ffa303;
    margin: 0 10px;
}
.location,
.location > a{
    color: #aaa;
}
.location > a:hover,
.location > span{
    color: #019b8d;
}
.location > a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 1024px) {
    .location{
        height: 53px;
        padding: 9px 0;

    }
}