/**
  *@file:login
  *@author:liyacheng
  *
  *@update:2016-08-18
  */


.loginWrap{
    width: 896px;
    height: 385px;
    margin: 50px auto 0;
}


/*===loginForm===*/
.loginForm-group{
    width: 464px;
    height: 66px;
}
.loginForm-group > input[type="text"],
.loginForm-group > input[type="password"]{
    width: 464px;
    height: 66px;
    padding: 10px 67px 10px 10px;
    border: 1px solid #aaa;
    line-height: 46px;
}
.loginForm-group > label{
    position: relative;
    left: -20px;
    margin-left: -34px;
    color: #aaa;
    line-height: 66px;
    font-size: 40px;

}

.login-remember,
.login-forget{
    line-height: 66px;
    letter-spacing: 3px;
    font-weight: 500;
}
.login-remember{
    color: #aaa;
}
.login-forget{
    color: #05c8b6;
}
.login-forget:hover{
    color: #ffa303;
}
.login-remember input{
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
}

/*===loginForm 结束===*/


/*===loginFr===*/
.loginFr{
    width: 366px;
    height: 343px;
    padding-right: 26px;
    padding-left: 96px;
    background: url(../images/loginReg-bg_2.jpg) left top no-repeat;
}
.login-calWrap{
    margin-left: 90px;
}
.login-calWrap > h3{
    height: 30px;
    margin-top: -5px;
    color: #05c8b6;
    line-height: 30px;
    font-family: "方正粗倩简体" , "微软简中圆" , "微软雅黑";
}
.login-cal{
    width: 113px;
    height: 123px;
    margin: 0 auto;
    background: url(../images/login-calBg.jpg) center center no-repeat;
}
.cal-month,
.cal-day,
.cal-dayEm,
.cal-year{
    display: block;
    width: 100%;
}
.cal-month{
    height: 36px;
    line-height: 36px;
    color: #fff;
}
.cal-day{
    margin-top: 12px;
    padding-right: 20px;
    height: 44px;
    line-height: 44px;
    font-size: 44px;
}
.cal-dayEm{
    margin-top: -44px;
    margin-left: 25px;
}
.cal-year{
    margin-top: 15px;
    height: 24px;
    line-height: 24px;
}
.cal-day,
.cal-dayEm,
.cal-year{
    color: #7f4702;
}


/*login-notice*/
.login-notice{
    width: 243px;
    height: 151px;
}
.login-notice > h3{
    width: 122px;
    height: 32px;
    border-radius: 15px;
    background: #05c8b6;
    color: #fff;
    line-height: 32px;
    behavior: url(PIE.htc);


}
.login-notice > ul > li{
    height: 36px;
    border-bottom: 1px dashed #aaa;
}
.login-notice > ul > li > a{
    display: inline-block;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #111;
}
.login-notice > ul > li > a > span{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border: 1px solid #111;
    border-radius: 50%;
    behavior: url(PIE.htc);
}
.login-notice > ul > li > a:hover{
    color: #ffa303;
}
/*===loginFr 结束===*/
