/**
  *@file:loginRegister-common
  *@author:liyacheng
  *
  *@update:2016-08-18
  */
body {
    background: none;
}

input:-moz-placeholder {
    color: #aaa;
}

::-webkit-input-placeholder {
    color: #aaa;
}
a:hover,
a:focus{
    text-decoration: none;
}

input:focus,
textarea:focus {
    border-color: #05c8b6;
    -webkit-box-shadow: 0 0 8px rgba(5, 200, 182, 0.6);
    box-shadow: 0 0 8px rgba(5, 200, 182, 0.6);
}

.header,
.footerImg {
    width: 100%;
    min-width: 960px;
}
.header{
    height: 397px;
    background: url(../images/login-header.jpg) top center no-repeat;
}
.footerImg{
    height: 191px;
    background: url(../images/login-bg.jpg) top center no-repeat;
}
.header .img-responsive,
.footerImg .img-responsive {
    margin: 0 auto;
}

/*===loginReg===*/
.loginReg {
    padding: 50px 0;
}

.loginReg-title {
    height: 44px;
    line-height: 44px;
    color: #111;
}

.loginReg-title:before,
.loginReg-title:after {
    position: relative;
    top: 21px;
    content: "";
    display: inline-block;
    width: 35%;
    height: 1px;
    border-top: 1px solid #111;
}

.loginReg-title:before {
    float: left;
}

.loginReg-title:after {
    float: right;
}

.loginForm-group > input.login-submit,
.login-register,
.register-submit1,
.register-submit2{
    display: block;
    width: 220px;
    height: 66px;
    border: none;
    line-height: 66px;
    color: #fff;
    text-align: center;
}
.loginForm-group > input.login-submit,
.register-submit1{
    background: #05c8b6;
}
.login-register,
.register-submit2{
    background: #aaa;
}
.login-register,
.login-register:hover,
.login-register:focus{
    color: #fff;
}


.errorMsg{
    margin: 20px 0 ;
    line-height: 30px;
    color: #ffa303;
}

/*===loginReg 结束===*/

/*===footer===*/
.footer {
    width: 100%;
    min-width: 960px;
    color: #aaa;
    line-height: 24px;
}

.footer > div:first-child {
    position: relative;
    top: 30px;
}

.footer em {
    color: #40a786;
}

.footer a {
    color: #05c8b6;
}

.footer-copyright {
    width: 790px;
    padding-top: 6px;
}

.footer-total {
    width: 190px;
    height: 60px;
    overflow: hidden;
    padding: 0 30px;
    border-left: 1px dashed #aaa;

}

.footer-total > p {
    position: relative;
    top: -6px;
}

@media screen and (max-width: 1024px) {
    .footer-copyright {
        width: 740px;
    }
}

/*===footer 结束===*/