/**
  *@file:news
  *@author:liyacheng
  *
  *@update:2016-08-24
  */

.newsList-Explain{
    margin-top: 10px;
    border-bottom: 1px solid #019b8d;
    line-height: 44px;
}
.newsList-Explain em{
    margin: 0 5px;
    color: #ffa303;

}
.newsList{
    background: #fff;
}
.newsList > li{
    height: 41px;
    padding: 0 5px;
    border-bottom: 1px solid #dcdcdc;
    line-height: 40px;
}
.newsList > li > a{
    width: 80%;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}
.newsList > li > a:hover{
    color: #019b8d;
}
.newsList > li > a > i{
    margin-right: 10px;
    color: #ffa303;
}
.newsList > li > span{
    color: #777;
}