/**
* @file:pages
* @author:lyc
*
* @update:2016-04-18
*/

/*pagesNum*/
.pages{
    height: 28px;
    text-align: center;
    width: 100%;
    font-size: 13px;
}
.pages a{
    display: inline-block;
    color: #777;
    border: 1px solid #dcdcdc;
    padding: 4px 10px;
    background: #fff;
}
.pages a.currentPage{
    color: #fff;
    border: 1px solid #019b8d;
    background: #019b8d;
}
.pages a:hover{
     color:#019b8d;
 }
.pages a.currentPage:hover{
    color: #fff;
}

