/**
  *@file:reader
  *@author:liyacheng
  *
  *@update:2016-08-31
  */

/*===reader===*/

.inside-rightContent-explain{
    color: #5d4226;
    text-indent: 2em;
}

.OnlineCommunicate{
    display: block;
    margin: 50px auto;
    width: 106px;
    height: 40px;
    padding-left: 20px;
    background: #019b8d url(../images/icon-reader_1.png) 12px 8px no-repeat;
    color: #fff;
    line-height: 40px;
    letter-spacing: 2px;
}
.OnlineCommunicate:focus,
.OnlineCommunicate:hover{
    background-color: #017a6f;
    color: #fff;
}

.mailBox{
    padding: 40px 120px;
}
.mailBox > span{
    color: #ffa303;
}

/*===reader 结束===*/
