/**
  *@file:register
  *@author:liyacheng
  *
  *@update:2016-08-31
  */

.updateForm{
    margin: 5px auto 0;
}
/*register-process*/
.register-process{
    width: 100%;
    height: 84px;
    font-size: 0;
}
.register-process:before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 19px;
    border-top: 1px solid #05c8b6;
    z-index: 3;
}
.register-process > span{
    position: relative;
    display: inline-block;
    width: 62px;
    height: 38px;
    background: #fff url(../images/register-bg_2.jpg) center center no-repeat;
    color: #fff;
    line-height: 38px;
    z-index: 5;
}
.register-process > span.current{
    background: #fff url(../images/register-bg_3.jpg) center center no-repeat;
}
.register-process > span:first-child{
    margin-left: 235px;
}
.register-process > span + span{
    margin-left: 185px;
}
.register-process > p{
    margin: 10px 0;
}
.register-process > p > span{
    display: inline-block;
    width: 180px;
    text-align: center;
    color: #05c8b6;
}
.register-explainSecond{
    margin-left: 420px;
}
.register-explainThird{
    margin-left: 670px;
}
.register-processOutsider > span.register-processFirst{
    margin-left: 0;
}
.register-processOutsider .register-explainSecond{
    margin-left: 245px;
}
/*===registerForm===*/
.registerForm{
    width: 1024px;
    margin-top: 5px;
}

.registerForm p.errorMsg{
    padding-left: 120px;
}
.registerForm-fl{
    width: 512px;
    background: url(../images/loginReg-bg_2.jpg) no-repeat 508px -116px;
}
.registerForm-fr{
    width: 490px;
}
.registerForm-group{
    width: 490px;
}
.registerForm-group + .registerForm-group{
    margin-top: 25px;
}
.registerForm-group > input[type="text"],
.registerForm-group > input[type="password"],
.registerForm-group > select{
    margin-left: -10px;
}
.register-login{
    height: 66px;
    padding-right: 25px;
    line-height: 66px;
}
.register-login > a{
    color: #05c8b6;
}
.register-login > a:hover{
    color: #ffa303;
}
.register-submit2{
    margin-right: 25px;
}

@media screen and (max-width: 1024px) {
    .register-process > span:first-child{
        margin-left: 203px;
    }
    .register-explainSecond{
        margin-left: 390px;
    }
    .register-explainThird{
        margin-left: 637px;
    }
    .registerForm {
        width: 960px!important;
        margin: 5px auto 0;
    }
    .registerForm-fl{
        width: 480px;
        background: url(../images/loginReg-bg_2.jpg) no-repeat 475px -116px;
    }
    .registerForm-fr{
        width: 465px;
    }
    .registerForm-group{
        width: 465px;
    }
    .registerForm-group > input[type="text"],
    .registerForm-group > input[type="password"],
    .registerForm-group > select{
        width: 320px;
    }
    .register-submit1,
    .register-submit2{
        width: 200px;
    }
    .register-processOutsider > span.register-processFirst{
        margin-left: 0;
    }
}

.registerForm-explain{
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px dashed #dcdcdc;
    line-height: 38px;
    color: #898989;
}
.registerForm-explain > p > span{
    color: #ffa303;
}
/*===updateForm 结束===*/

