/**
  *@file:resource
  *@author:liyacheng
  *
  *@update:2016-08-18
  */

/*===resource-search===*/
.resource-search{
    padding: 12px 0;
}
.resource-search > span{
    padding-top: 12px;
    line-height: 20px;
}

.resource-form input{
    height: 32px;
    padding: 6px;
    border-radius: 5px;
    behavior: url(PIE.htc);
}
.resource-form input[type="text"]{
    width: 390px;
    border: 1px solid #b5b5b5;
}
.resource-form input.resource-searchSubmit{
    width: 80px;
    border: none;
    background: #019b8d;
    color: #fff;
}
@media screen and (max-width: 1024px) {
    .resource-form input[type="text"]{
        width: 330px;
    }
}
/*===resource-search 结束===*/


/*===resource-list===*/
.resource-list{
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    background: #fff;
}
.resource-list > li{
    border-bottom: 1px solid #dcdcdc;
}
.resource-list > li > a,
.resource-list > li > span{
    display: inline-block;
    height: 43px;
    padding: 0 10px;
    overflow: hidden;
    border-left: 1px solid #dcdcdc;
    line-height: 42px;
    color: #111;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.resource-name{
    width: 40%;
}
.resource-size{
    width: 16%;
}
.resource-num{
    width: 16%;
}
.resource-look{
    width: 14%;
}
.resource-entrance{
    width: 14%;
}
.resource-list > li > a:hover,
.resource-list > li > a.resource-entrance{
    color: #019b8d;
}
.resource-list > li > a.resource-entrance:hover{
    color: #ffa303;

}
@media screen and (max-width: 1024px) {
    .resource-list > li > a,
    .resource-list > li > span{
        height: 37px;
        line-height: 36px;
    }
}

/*===resource-list 结束===*/


/*===resource-detail===*/
.resource-detail > h2{
    line-height: 50px;
}
.resource-detail > p:first-child{
    line-height: 40px;
}
.resource-detailBrief{
    line-height: 36px;
    text-align: justify;
    text-justify: inter-ideograph;
}
.resource-detail > h2,
.resource-detail > p > strong,
.resource-detailBrief > strong{
    color: #ffa303;
}

@media screen and (max-width: 1024px) {
    .resource-detail > h2{
        line-height: 42px;
    }
    .resource-detail > p{
        line-height: 34px;
    }
    .resource-detailBrief{
        line-height: 30px;
    }
}
/*===resource-detail 结束===*/













