/**
  *@file:resourceTabsPanel
  *@author:liyacheng
  *
  *@update:2016-08-18
  */


/*resource-tabNav*/
.resource-nav > li{
    height: 44px;
    background: #e3e1e1;
    color: #111;
    line-height: 44px;
    cursor: pointer;
}
.resource-nav > li + li{
    border-left: 1px solid #fff;
}
.resource-nav > li + li:last-child{
    border-left:none;
}
.resource-nav > li.home-navActive{
    background: #f9a360;
    color: #fff;
}
.resource-nav > li.home-navActive:before{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    margin-left: 47%;
    margin-top: 37px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #ffeddf;
}
@media screen and (max-width: 1024px) {
    .resource-nav > li{
        height: 40px;
        line-height: 40px;
    }
    .resource-nav > li.home-navActive:before{
        margin-top: 34px;
    }
}

/*resource-classifyList*/
.resource-classifyList{
    width: 100%;
    max-height: 105px;
    overflow-y: auto;
    padding: 13px 25px;
    background: #ffeddf;
}
.resource-classifyList > a{
    display: inline-block;
    margin: 3px 6px 3px 0;
    padding: 0 10px;
    background: #fff;
    color: #111;
    line-height: 24px;
    border-radius: 5px;
}
.resource-classifyList > a:hover,
.resource-classifyList > a.resource-classifyCur{
    background: #f9a360;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .resource-classifyList{
        max-height: 110px;
        padding: 10px 22px;
    }
}
