/**
  *@file:resultList
  *@author:liyacheng
  *
  *@update:2016-08-25
  */

/*===resultList===*/
.resultList{
    border-top: 1px solid #019b8d;
    background: #fff;
}
.resultList > li{
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
}
.resultList > li > span{
    display: block;
    line-height: 24px;
    width: 3%;
}
.resultList > li > span > input{
    position: relative;
    top: 2px;
}
.resultList-brief{
    width: 97%;
}
.resultList-brief > h3{
    line-height: 24px;
}
.resultList-brief > h3 > a{
    color: #111;
}
.resultList-brief > p{
    position: relative;
    top: 3px;
    line-height: 22px;
}
.resultList-brief > p,
.resultList-brief > p > a{
    color: #898989;
}
.resultList-brief > h3 > a:hover,
.resultList-brief > p > a:hover{
    color: #019b8d;
}
/*===resultList 结束===*/