/**
  *@file:software
  *@author:liyacheng
  *
  *@update:2016-08-25
  */

/*===常用软件、初级指挥文摘列表===*/

.softwareTitle,
.literatureTitle{
    min-height: 29px;
    margin-top: 28px;
    border-bottom: 1px solid #019b8d;
    line-height: 28px;
    color: #5d4226;
}

.literatureTitle > select{
    min-width: 200px;
    padding: 5px 10px;
    color: #898989;
}

.softwareList,
.literatureList{
    margin: 23px 0;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    background: #fff;
}
.softwareList > li,
.literatureList > li{
    border-left: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.softwareList > li > h3,
.literatureList > li > h3{
    width: 80%;
    min-height: 32px;
    padding: 5px;
    line-height: 32px;
}
.softwareList > li > h3,
.literatureList > li > h3,
.literatureList > li > h3 > a{
    color: #111;
}
.literatureList > li > h3 > a:hover{
    color: #ffa303;
}
.softwareList > li > a,
.literatureList > li > a{
    display: inline-block;
    padding: 5px 15px;
    margin-right: 2%;
    line-height: 32px;
    color: #019b8d;
}
.softwareList > li > a:hover,
.literatureList > li > a:hover{
    color: #017a6f;
}
.softwareList > li > a > i,
.literatureList > li > a > i{
    position: relative;
    top: 3px;
    margin-right: 5px;
}

@media screen and (max-width: 1024px) {
    .softwareTitle,
    .literatureList{
        margin-top: 21px;
    }
    .softwareList > li > h3,
    .softwareList > li > a,
    .literatureList > li > h3,
    .literatureList > li > a{
        min-height: 36px;
        line-height: 26px;
    }
}

/*===常用软件、初级指挥文摘列表===*/
