<!--aside Start-->
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 aside">
    <h2 class="font22"><span><img src="/${res}/images/img-aside_1.jpg"></span>${channel.parent.name}</h2>
    <ul class="font18">
    	[@cms_channel_list parentId=channel.parent.id]
			[#list tag_list as c]
				<li><a [#if channel??&&channel.id==c.id]class="asideCurrent"[/#if] href="${c.url}">${c.name!}</a> </li>
			[/#list]
        [/@cms_channel_list]
    </ul>
</div>
<!--aside End-->