[#--
栏目翻页样式
pageClass: 翻页DIV class
    pageStyle: 翻页DIV style
--]
<link href="/${res}/css/pages.css" rel="stylesheet">
<!-- <div class="pages2 font13 mb10">
                <a href="javascript:void(0);">&lt;上一页</a>
                <a href="javascript:void(0);" class="currentpage">1</a>
                <a href="javascript:void(0);">2</a>
                <a href="javascript:void(0);">3</a>
                <a href="javascript:void(0);">4</a>
                <a href="javascript:void(0);">5</a>
                <a href="javascript:void(0);">…</a>
                <a href="javascript:void(0);">下一页&gt;</a>
</div> -->
 [#assign p=tag_pagination/]
 <div class="pages2 font13 mb10" style="font-size:13px;">
 [#if p.firstPage]&nbsp;<a disabled="disabled">首页</a> <a disabled="disabled">&lt;上一页</a>[#t/]
 [#else]&nbsp;<a href="#" onclick="location.href=encodeURI('${hrefFormer}${hrefLatter}');">首页</a> <a href="#" onclick="location.href=encodeURI('${hrefFormer}[#if p.prePage gt 1]_${p.prePage}[/#if]${hrefLatter}');">上一页</a>[#t/]
 [/#if]

 [#list 1.. p.totalPage as i]
  <a href="#" onclick="location.href=encodeURI('${hrefFormer}_${i}${hrefLatter}');"[#if p.pageNo==i] class="currentpage"[/#if]>${i}</a>
  [/#list]
  [#if p.lastPage]&nbsp;<a disabled="disabled">下一页</a> <a disabled="disabled">尾页</a>
  [#else]&nbsp;<a href="#" onclick="location.href=encodeURI('${hrefFormer}_${p.nextPage}${hrefLatter}');">下一页&gt;</a> <a href="#" onclick="location.href=encodeURI('${hrefFormer}_${p.totalPage}${hrefLatter}');">尾页</a>
  [/#if]
 </div>