<!--footer Start-->
<div class="footer font12 mt25">
    <div class="container">
        <div class="footer-copyright fl tc">
            <em> 版权所有：</em>南昌陆军学院图书馆&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>技术支持：</em>武汉麦达metadata.net.cn&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="${base}/admin/login.do">管理入口</a> <br>
            <em>咨询电话</em>：0621-71174（军队）、0791-6871174（地线）&nbsp;&nbsp;&nbsp;&nbsp;<em>电子邮件</em>：tsg@ncly.mtn（院内），nclytsg@freemail.mtn（院外）
        </div>
        <div class="footer-total fr">
        [#if site.config.flowSwitch]
            <p>当前在线：<span class="fr"><em><span id="dayVisitor"></span></em>人</span></p>
            <p>今日访问：<span class="fr"><em><span id="dayPv"></span></em>人</span><br></p>
            <p>历史访问：<span class="fr"><em><span id="pv"></span></em>人</span></p>
        [/#if]
        </div>
        <div class="clear-both"></div>
    </div>
</div>
<!--footer End-->
<script type="text/javascript">
$(function() {
	Cms.siteFlow("${base}", location.href, document.referrer, "${site.config.flowSwitch?string}");
	$.cookie("_site_id_cookie","${site.id!}",{path: '${base}' });
});
</script>