<!--banner-searchWrap Start-->
<div class="banner-searchWrap">
    <div class="container font14">
        <div class="banner-search">
            <!--home-tabsNav-->
            <ul class="home-tabsNav banner-searchNav">
                <li class="fl home-navActive">资源检索</li>
                <li class="fl">站内检索</li>
                <div class="clear-both"></div>
            </ul>
            <div class="home-tabsBd banner-searchTabsBd">
                <!--资源检索-->
                <div class="home-tabPanel banner-searchTabPanel home-tabPanelActive">
                    <form class="banner-searchForm">
                        <fieldset>
                            <legend>检索框</legend>
                            <select class="fl">
                                <option>统一检索</option>
                            </select>
                            <input type="text" class="fl"  placeholder="请 输 入 检 索 关 键 词" id="searchwords">
                            <input type="button" class="fl banner-searchSubmit" value="检 索">
                            <div class="clear-both"></div>
                            <div class="checkboxWrap">
                                <span class="fl"><input type="checkbox" class="checkall">&nbsp;全选</span>
                                <span class="fl"><input type="checkbox" name=ckImport>&nbsp;纸质图书</span>
                                <span class="fl"><input type="checkbox" name=ckImport>&nbsp;电子图书</span>
                                <span class="fl"><input type="checkbox" name=ckImport>&nbsp;期刊论文</span>
                                <span class="fl"><input type="checkbox" name=ckImport>&nbsp;综合文献</span>
                                <span class="fl"><input type="checkbox" name=ckImport>&nbsp;视频</span>
                                <span class="fl"><input type="checkbox" name=ckImport>&nbsp;其他</span>
                                <div class="clear-both"></div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!--站内检索-->
                <div class="home-tabPanel banner-searchTabPanel">
                    <form action="${base}/search.jspx" class="banner-searchForm pt10" target="_blank" id="searchForm">
                        <fieldset>
                            <legend>检索框</legend>
                            <select class="fl">
                                <option>全文</option>
                            </select>
                            <input name="q" value="${oldq!''}" id="searchword" type="text" class="fl" placeholder="请 输 入 检 索 关 键 词">
                            <input type="button" class="fl banner-searchSubmit" value="检 索" onclick="checkform();">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--banner-searchWrap End-->
<script type="text/javascript">
$(function(){
	$(".checkall").click(function() {  
		$("input[name=ckImport]").prop("checked", $(".checkall").is(":checked"));
	}); 
});

document.onkeypress = function(){
	if(event.keyCode == 13) {
		return false;
	}
};
function checkform(){
	var searchword=document.getElementById("searchword").value;
	if(searchword==""){
			alert("请输入关键词");
			return false;
	}else{
	    $("#searchForm").submit();
	}
}
</script>