<!--header Start-->
<div class="header">
    <div class="container">
        <a class="header-logo fl" href="${site.url!}"><img src="/${res}/images/logo.jpg"></a>
        <div class="fr pt20 tr">
	        [#if user??]
	        <span style="display: block; margin-right: 10px; font-size: 18px; width: 90px; overflow: hidden; height: 32px; line-height: 32px; float: left;">管理员登录</span>
			<a class="header-exit font16" href="${base}/logout.jspx?returnUrl=/">注销</a>
			[#else]
			<a class="header-exit font16" href="${base}/login.jspx?returnUrl=${location}">登录</a>
			[/#if]
            <span class="font14" id="today"></span>
        </div>
        <div class="clear-both"></div>
    </div>
</div>
<!--header End-->
<!--nav Start-->
<div class="nav">
    <ul class="container font18">
    	[@cms_channel_list]
	        <li [#if !channel?exists]class="navCurrent"[/#if]><a href="${site.url!}">学院首页</a></li>
			[#list tag_list as c]
			[#if c_index<3]
	        [@cms_channel_list parentId=c.id]
	        [#list tag_list as k]
	        [#if k_index==0]
			<li [#if channel??&&channel.id==k.id]class="navCurrent"[/#if] class="dx${c.id}">
	            <a href="${k.url}">${c.name}<span><i class="fa fa-caret-down"></i></span></a>
			[/#if]
			[/#list]
	            [#if tag_list?size>0]
	            <ul class="font14">
		            [#list tag_list as c1]
		            <li><a href="${c1.url}">${c1.name}</a></li>
		            [/#list]
	            </ul>
	            [#else]
        		<li [#if channel??&&channel.id==c.id]class="navCurrent"[/#if]><a href="${c.url}">${c.name}<span><i class="fa fa-caret-down"></i></span></a>
	            [/#if]
	        </li>
	        [/@cms_channel_list]
	        [/#if]
	        
			[#if c_index=3 && user??]
			[@cms_channel_list parentId=c.id]
	        [#list tag_list as k]
	        [#if k_index==0]
			<li [#if channel??&&channel.id==k.id]class="navCurrent"[/#if] class="dx${c.id}">
	            <a href="${k.url}">${c.name}<span><i class="fa fa-caret-down"></i></span></a>
			[/#if]
			[/#list]
	            [#if tag_list?size>0]
	            <ul class="font14">
		            [#list tag_list as c1]
		            <li><a href="${c1.url}">${c1.name}</a></li>
		            [/#list]
	            </ul>
	            [#else]
        		<li [#if channel??&&channel.id==c.id]class="navCurrent"[/#if]><a href="${c.url}">${c.name}<span><i class="fa fa-caret-down"></i></span></a>
	            [/#if]
	        </li>
	        [/@cms_channel_list]
	        [/#if]
	        
	        [#if c_index=3 && !user??]
	        [@cms_channel_list parentId=c.id]
			<li><a href="javascript:alert('请登录!')">${c.name}<span><i class="fa fa-caret-down"></i></span></a></li>
	        [/@cms_channel_list]
	        [/#if]
	        
			[/#list]
        [/@cms_channel_list]
    </ul>
</div>