<!--location-->
<div class="locationWrap">
    <div class="container location font14">
        <i class="fa fa-map-marker font20"></i><a href="${site.url!}">首页</a><i class="fa fa-angle-double-right"></i>[#list channel.nodeList as n]${n.name}[#if n_has_next]<i class="fa fa-angle-double-right"></i>[/#if][/#list]<!-- <span class="font16 font-weight">${channel.name!}</span> -->
    </div>
</div>
<!--container Start-->