<div class="nav">
    <div class="container">
        <ul class="font16">
            <li><a href="${base}/" >首页</a></li>
            [@cms_channel_list ]
            [#list tag_list as a]
            <li><a  href="${a.url!}">${a.name!}</a></li>
            [/#list]
            [/@cms_channel_list]
        </ul>
        <div class="clearfix"></div>
    </div>
</div>