/**
  *@file:about
  *@author:liyacheng
  *
  *@update:2016-08-17
  */

.aboutImg1 img{
    display: block;
    border: 1px solid #eee;
    margin: 20px auto;
}

/*===部门介绍===*/
.table-leadership > thead{
    background: #eee;
}
.table-leadership > thead > tr > th{
    text-align: center;
    border-bottom-width: 1px;
}
.table-leadership > tbody > tr > td{
    vertical-align: middle;
    background: #fff;
}

.leadershipList{
}
.leadershipList > li{
    padding: 10px;
}
.leadershipList > li > a{
    display: block;
    width: 100%;
    border: 1px solid #dcdcdc;
    line-height: 25px;
    color: #333;
}
.leadershipList > li > a > *{
    width: 100%;
}
.leadershipList > li > a > p{
    border-top: 1px solid #dcdcdc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.leadershipList > li > a:hover,
.leadershipList > li > a:hover p{
    color: #019b8d;
    border-color: #019b8d;
}

/*leadershipBrief*/
.leadershipBrief{
    height: 430px;
    padding: 55px 60px;
    overflow-y: auto;
}
.leadershipImg > img{
    display: block;
    width: 130px;
    height: 190px;
    margin: 0 auto;
    border: 1px solid #dcdcdc;
}
.leadershipCon{
    line-height: 30px;
}
.leadershipText{
    text-align: justify;
    text-justify: inter-ideograph;
}
.layoutImg img{
    display: block;
    margin: 0 auto;
}

/*===部门介绍 结束===*/

.aboutClassify{
    line-height: 36px;
}

/*===开馆时间、问卷调查列表===*/
.aboutTime{
    color: #5d4226;
}
.aboutTimeTitle{
    height: 27px;
    background: url(../images/img-about_8.jpg) left no-repeat;
    line-height: 27px;
    color: #fff;
}
.aboutTimeTitle > span{
    display: inline-block;
    width: 146px;
    padding-right: 20px;
    text-align: center;
}

.table-openTime,
.table-PSQ{
    background: #fff;
}
.table-openTime > thead,
.table-PSQ > thead{
    background: #eee;
}
.table-openTime > thead > tr > th,
.table-PSQ > thead > tr > th{
    text-align: center;
    border-bottom-width: 1px;
    border-right-color: #eee;
}
.table-openTime > thead > tr > th:last-child,
.table-PSQ > thead > tr > th:last-child{
    border-right-color: #e3e1e2;
}
.table-openTime > tbody > tr > td,
.table-PSQ > tbody > tr > td{
    padding: 30px 15px;
    vertical-align: middle;
}
.table-PSQ > tbody > tr > td{
    padding: 10px;
}
.table-PSQ > thead > tr > th.historyTitle{
    padding-left: 20px;
    text-align: left;
}
.PSQTitle{
    display: inline-block;
    color: #111;
}
.PSQTitle:hover{
    color: #019b8d;
}
/*===开馆时间、问卷调查列表 结束===*/

/*===网站地图、常见问题===*/
.siteMap,
.faqList{
    width: 100%;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 5px;
    behavior: url(PIE.htc);
}
.siteMap > h3,
.faqList > h3{
    padding: 5px 16px;
    background: #eee;
    line-height: 26px;
}
.siteMap > h3{
    color: #111;
}
.faqList > h3{
    color: #5d4226;
}
.siteMap-list,
.faqList-detail{
    padding: 15px;
}
.siteMap-list > a{
    margin-right: 20px;
    color: #ffa303;
    line-height: 24px;
}
.siteMap-list > a:hover{
    color: #019b8d;
    text-decoration: underline;
}

.faqList-detail{
    line-height: 28px;
    text-align: justify;
    text-justify: inter-ideograph;
}
@media screen and (max-width: 1024px) {
    .faqList-detail{
        line-height: 24px;
    }
}
/*===网站地图、常见问题 结束===*/