/**
  *@file:home
  *@author:liyacheng
  *
  *@update:2016-08-17
  */
.ml22{
    margin-left: 22px;
}

.home-title1{
    width: 100%;
    height: 32px;
    margin-bottom: 4px;
    line-height: 32px;
}
.home-title1 > h3{
    color: #006e64;
    line-height: 32px;
    letter-spacing: 2px;
}
.home-title1 > h3 img{
    position: relative;
    top: -2px;
    margin-right: 8px;
}

.home-title2{
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #019b8d;
}
.home-title2 > h3{
    height: 32px;
    border-left: 10px solid #019b8d;
    padding-left: 15px;
    line-height: 32px;
}

.home-more1{
    height: 16px;
    padding: 0 10px;
    margin-top: 8px;
    background: #019b8d;
    color: #fff;
    line-height: 16px;
    border-radius: 8px;
    behavior: url(PIE.htc);
}
.home-more1:hover,
.home-more1:focus{
    background: #017a6f;
    color: #fff;
}
.home-more2{
    position: relative;
    margin-top: -30px;
    margin-right: 10px;
    color: #fff;
    line-height: 30px;
    z-index: 99999999;
}

.home-more2:hover,
.home-more2:focus{
    color: #019b8d;
}
/*===home-search===*/
.home-searchWrap{
    min-width: 960px;
    padding: 66px 0 90px 0;
    background: url(../images/home-banner.jpg) bottom center no-repeat;
}
@media screen and (max-width: 1024px) {
    .home-searchWrap{
        padding: 60px 0 100px 0;
    }
}

/*===home-search 结束===*/

/*===home-picList===*/
.home-picList{
    width: 358px;
    height: 260px;
    overflow: hidden;
}

.carousel{
    width: 358px;
    /*height: 224px;*/
    height: 260px;
}
.carousel-indicators{
    bottom: 2px!important;
}
.carousel-indicators li{
    width: 8px;
    height: 8px;
}
.carousel-indicators li.active{
    width: 8px;
    height: 8px;
    margin: 1px;
}
.item img{
    width: 358px;
    /*height: 224px;*/
    height: 260px !important;
}
.carousel-caption{
    left: 0!important;
    right: 0!important;
    /*top: 194px;*/
    top: 230px;
    width: 100%;
    height: 30px;
    padding: 0;
    overflow: hidden;
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);
    background-color:rgba(0,0,0,0.5);
}
.carousel-caption > p{
    width: 40%;
    line-height: 30px;
    margin-left: 10px;
    text-align: left;
}


@media screen and (max-width: 1024px) {
    .home-picList{
        width: 336px;
        height: 246px;
    }
    .carousel,
    .item img{
        width: 336px;
        height: 210px;
    }
    .carousel-caption{
        top: 180px;
    }
}

/*===home-picList 结束===*/


/*===home-newsList===*/
.home-newsList{
    width: 318px;
    height: 260px;
    overflow: hidden;
}
.home-news{
    width: 100%;
    margin: 6px 0 18px;
    padding: 0 5px;
}
.home-news > li{
    width: 100%;
    height: 24px;
    line-height: 24px;
}
.home-news > li > a{
    display: inline-block;
    width: 200px;
    height: 24px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-news > li > a:hover,
.home-news > li > span{
    color: #019b8d;
}
@media screen and (max-width: 1024px) {
    .home-newsList{
        width: 300px;
        height: 246px;
    }
    .home-news{
        margin: 4px 0 10px;
    }
}
/*===home-newsList 结束===*/


/*===home-resource===*/
.home-resourceWrap{
    width: 304px;
    height: 260px;
}
@media screen and (max-width: 1024px) {
    .home-resourceWrap{
        width: 280px;
        height: 246px;
    }
}
.home-resourceNav{
    width: 100%;
    height: 50px;
}
.home-resourceNav > li{
    width: 50%;
    height: 50px;
    overflow: hidden;
    background: #eee;
    line-height: 50px;
    color: #019b8d;
    cursor: pointer;
}

.home-resourceNav > li.home-navActive{
    background: #019b8d;
    color: #fff;
}
.home-resourceNav > li > span{
    position: relative;
    top: 8px;
    display: inline-block;
    width: 44px;
    height: 33px;
    margin-right: 10px;
    margin-left: 12px;
    background:url(../images/icon-home_3.png) no-repeat;
}
.home-resourceNav > li > span.home-resourceLib{
    background-position: -50px -2px;
}
.home-resourceNav > li.home-navActive > span.home-resourceLib{
    background-position: 0 -2px;
}
.home-resourceNav > li > span.home-resourceOnline{
    background-position: -152px -2px;
}
.home-resourceNav > li.home-navActive > span.home-resourceOnline{
    background-position: -100px -2px;
}

/*home-resourceList*/
.home-resourceList_content {
    width:304px;
    border-top: none;
}
.home-resourceList_content1 {
    width: 304px;
    height: 146px;
    float: left;
    overflow: hidden;
}
.home-resourceList {
    width: 1520px;
    overflow: hidden;
}
.home-resourceList ul {
    width: 304px;
    height: 146px;
    float: left;
    display: inline;
}
.home-resourceList_leftbtn,.home-resourceList_rightbtn {
    position: absolute;
    top: 258px;
    width: 26px;
    height: 26px;
    background: url(../images/icon-home_3.png) no-repeat;
    cursor: pointer;
}
.home-resourceList_leftbtn {
    background-position: -6px -48px;
    margin-left: 235px;
}
.home-resourceList_rightbtn {
    background-position: -46px -48px;
    margin-left: 272px;
}
/*home-resource*/
.home-resource{
    width: 100%;
}
.home-resource > li{
    float: left;
    width: 50%;
    height: 49px;
    border-bottom: 1px dashed #999;
}
.home-resource > li > a{
    display: block;
    height: 48px;
    overflow: hidden;
    padding: 0 5px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}
.home-resource > li > a:hover{
    color: #017a6f;
}
.home-resource > li > a img{
    position: relative;
    top: -1px;
    margin-right: 5px;
}

@media screen and (max-width: 1024px) {
    .home-resourceList_content {
        width:280px;
    }
    .home-resourceList_content1 {
        width: 280px;
        height: 137px;
    }
    .home-resourceList {
        width: 1400px;
    }
    .home-resourceList ul {
        width: 280px;
        height: 137px;
    }
    .home-resourceList_leftbtn,.home-resourceList_rightbtn {
        top: 245px;
    }
    .home-resourceList_leftbtn {
        margin-left: 195px;
    }
    .home-resourceList_rightbtn {
        margin-left: 242px;
    }
    .home-resource > li{
        height: 46px;
    }
    .home-resource > li > a{
        height: 46px;
        padding: 0;
        line-height: 46px;
    }
}
/*===home-resource 结束===*/



/*===home-bookList===*/
.home-bookListWrap{
    position: relative;
    width: 774px;
    height: 182px;
    background: url(../images/home-bg_1.jpg) center bottom no-repeat;
    z-index: 6;

}
/*home-bookListNav*/
.home-bookListNav{
    height: 44px;
    padding: 8px 0 8px 35px;
}
.home-bookListNav > li{
    height: 28px;
    padding: 0 12px;
    margin-right: 10px;
    color: #019b8d;
    cursor: pointer;
    line-height: 28px;
}
.home-bookListNav > li.home-navActive{
    background: #019b8d;
    color: #fff;
    border-radius: 10px;
    behavior: url(PIE.htc);
}
/*home-bookListTabsBd*/
.home-bookListTabsBd,
.home-bookListTabPanel{
    width: 774px;
    height: 130px;
}
.home-bookListTabsBd .home-more1{
    position: relative;
    margin-top: -32px;
    margin-right: 30px;
    z-index: 10;
}

.home-bookList_content {
    width:774px;
    height: 130px;
    overflow: hidden;
}
.home-bookList_content1 {
    width: 2880px;
    height: 130px;
    margin-left: 56px;
    overflow: hidden;
}

.home-bookList_leftbtn,.home-bookList_rightbtn {
    position: absolute;
    width: 26px;
    height: 26px;
    margin-top: 44px;
    background: url(../images/icon-home_3.png) no-repeat;
    cursor: pointer;
}
.home-bookList_leftbtn {
    background-position: -6px -48px;
    margin-left: 0;
}
.home-bookList_rightbtn {
    background-position: -46px -48px;
    margin-left: 747px;
}
/*home-resource*/
.home-bookList {
    width: 700px;
    height: 125px;
}
.home-bookList > li{
    float: left;
    width: 96px;
    height: 125px;
    margin-right: 44px;
}
.home-bookList > li > a{
    display: block;
    width: 96px;
    height: 125px;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 3px #ccc;
       -moz-box-shadow: 3px 3px 3px #ccc;
        -ms-box-shadow: 3px 3px 3px #ccc;
            box-shadow: 3px 3px 3px #ccc;
    behavior: url(PIE.htc);
}

@media screen and (max-width: 1024px) {
    .home-bookListWrap{
        width: 726px;
    }
    .home-bookListTabsBd,
    .home-bookListTabPanel{
        width: 726px;
    }
    .home-bookList_content {
        width: 726px;
    }
    .home-bookList_content1 {
        width: 2520px;
    }
    .home-bookList_rightbtn {
        margin-left: 699px;
    }
    /*home-resource*/
    .home-bookList {
        width: 630px;
    }
    .home-bookList > li{
        margin-right: 30px;
    }
}
/*===home-bookList 结束===*/


/*===home-software===*/
.home-software{
    width: 230px;
    height: 182px;
}
.home-software .home-title1{
    height: 38px;
}
@media screen and (max-width: 1024px) {
    .home-software{
        width: 212px;
    }
}
.home-softwareList{
    width: 100%;
    height: 140px;
    padding: 8px 27px;
    background: url(../images/home-bg_3.png) no-repeat;
    background-size: 100% 100%;
    behavior: url(PIE.htc);
}
.home-softwareList > li{
    width: 100%;
    height: 28px;
}
.home-softwareList > li > a{
    display: block;
    width: 100%;
    height: 28px;
    overflow: hidden;
    line-height: 28px;
    color: #fff;
    letter-spacing: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-softwareList > li > a:hover{
    color: #afecff;
}
/*===home-software 结束===*/



.home-con3Fl{
    width: 474px;
}
.home-ad1,
.home-ad1 img{
    width: 474px;
    height: 76px;
}
.home-ad1{
    display: block;
    margin-bottom: 1px;
}
@media screen and (max-width: 1024px) {
    .home-con3Fl{
        width: 446px;
    }
    .home-ad1,
    .home-ad1 img{
        width: 446px;
        height: 72px;
        margin: 0;
    }
}
/*===home-literature===*/
.home-literature{
    width: 266px;
    height: 148px;
}
.home-literatureList{
    width: 100%;
    height: 110px;
    padding: 15px;
    background: #019b8d;
}
.home-literatureList > li{
    width: 100%;
    height: 20px;
    margin-bottom: 12px;
}
.home-literatureList > li > em{
    display: block;
    width: 20px;
    height: 20px;
    background: #edf2d4;
    color: #064d84;
    text-align: center;
    line-height: 20px;
}
.home-literatureList > li > a{
    display: block;
    width: 140px;
    height: 20px;
    overflow: hidden;
    margin-left: 10px;
    color: #fff;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-literatureList > li > a:hover{
    color: #edf2d4;
}
.home-literatureList > li > span{
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .home-literature{
        width: 250px;
        height: 138px;
    }
    .home-literatureList{
        height: 104px;
        padding: 10px;
    }
}
/*===home-literature 结束===*/

/*===home-contact===*/
.home-contact{
    width: 200px;
    height: 110px;
    margin-top: 36px;
    padding: 30px 90px 30px 10px;
    background: url(../images/home-bg_2.jpg) no-repeat;
    background-size: 100% 100%;
    line-height: 24px;
    letter-spacing: 2px;
    behavior: url(PIE.htc);
}
.home-contact,
.home-contact:hover,
.home-contact:focus{
    color: #fff;

}
@media screen and (max-width: 1024px) {
    .home-contact{
        width: 188px;
        height: 104px;
    }

}
/*===home-contact 结束===*/

/*===home-guide===*/
.home-guide{
    width: 536px;
    height: 223px;
    padding: 12px 18px 12px 17px;
    background: url(../images/home-bg_4.png) no-repeat;
    behavior: url(PIE.htc);
}

.home-guideTitle{
    width: 160px;
    margin-top: 160px;
}
@media screen and (max-width: 1024px) {
    .home-guide{
        width: 503px;
        height: 212px;
        background: url(../images/home-bg_4_2.png) no-repeat;
    }
    .home-guideTitle{
        width: 152px;
        margin-top: 155px;
    }
}

.home-guideList{
    width: 290px;
    height: 168px;
}
.home-guideList a{
    display: block;
    line-height: 22px;
    color: #fff;
    text-align: center;
}
.home-guideList a:hover{
    color: #32659c;

}
.home-guideList a.home-guide1{
    width: 54px;
    height: 173px;
    padding: 35px 15px;
    margin-left: 12px;
    color: #32659c;
}
.home-guideList a.home-guide1:hover{
    color: #017a6f;

}
.home-guideList a.home-guide2{
    width: 42px;
    height: 159px;
    padding: 32px 12px;
    margin-left: 12px;
    margin-top: 14px;
}
.home-guideList a.home-guide3{
    width: 32px;
    height: 146px;
    padding: 28px 6px;
    margin-left: 12px;
    margin-top: 27px;
}
.home-guideList a.home-guide4{
    width: 37px;
    height: 148px;
    padding: 28px 8px;
    margin-left: 16px;
    margin-top: 27px;
}
.home-guideList a.home-guide5,
.home-guideList a.home-guide6{
    width: 28px;
    height: 122px;
    padding: 20px 0;
    margin-top: 52px;
}
.home-guideList a.home-guide5{
    margin-left: 14px;

}
@media screen and (max-width: 1024px) {
    .home-guideList a.home-guide1{
        width: 50px;
        height: 163px;
        margin-left: 12px;
    }

    .home-guideList a.home-guide2{
        width: 40px;
        height: 150px;
        margin-left: 10px;
    }
    .home-guideList a.home-guide3{
        width: 30px;
        height: 140px;
        margin-left: 10px;
        margin-top: 23px;
    }
    .home-guideList a.home-guide4{
        margin-left: 14px;
        margin-top: 22px;
    }
    .home-guideList a.home-guide5,
    .home-guideList a.home-guide6{
        margin-top: 46px;
        padding: 15px 0;
    }
    .home-guideList a.home-guide5{
        margin-left: 12px;
    }
}


/*===home-guide 结束===*/
