/**
  *@file:myself
  *@author:liyacheng
  *
  *@update:2016-08-31
  */

/*===个人信息===*/
.myself-img{
    display: block;
    width: 100px;
    height: 150px;
}
.table-myself > tbody > tr > td{
    line-height: 25px;
}
.table-split{
    height: 0;
    width: 100%;
    border-bottom: 1px dashed #dcdcdc;
    margin: 25px 0;

}
.table-info{
    background: #fff;
}
.table-info td:nth-child(1){
    text-align: center;
}
.table-info tr:nth-child(1) > td:nth-child(1),
.table-info tr:nth-child(2n+1) > td:nth-child(1){
    background: #eee;
}
.table-info tr:nth-child(2n) > td:nth-child(1){
    background: #f8f7f7;
}
.myself-update,
.myself-userBtn,
.myself-updateSubmit{
    border-radius: 5px;
    behavior: url(PIE.htc);
}

.myself-update,
.myself-updateSubmit{
    padding: 3px 10px;
    background: #019b8d;
    line-height: 20px;
}
.myself-userBtn{
    position: relative;
    top: -6px;
    padding: 5px 10px 5px 40px;
    background: #ffa303;
    line-height: 30px;

}
.myself-userBtn > i{
    position: absolute;
    margin-left: -26px;
    margin-right: 5px;
}
.myself-update,
.myself-update:hover,
.myself-update:focus,
.myself-userBtn,
.myself-userBtn:hover,
.myself-userBtn:focus,
.myself-updateSubmit{
    color: #fff;
}
.myself-update:hover,
.myself-update:focus,
.myself-updateSubmit:focus{
    background: #017a6f;
}
.myself-userBtn:hover,
.myself-userBtn:focus{
    background: #ff9600;
}
/*===个人信息 结束===*/


/*===修改信息===*/
.myself-title{
    height: 31px;
    border-bottom: 1px solid #019b8d;
    line-height: 30px;
    color: #5d4226;
}
.myself-updateForm{
    margin: 30px auto 0;
}
.myself-updateForm,
.myself-updateFormGroup{
    width: 450px;
}
.myself-updateFormGroup{
    height: 34px;
    overflow: hidden;
}
.myself-updateFormGroup + .myself-updateFormGroup{
    margin-top: 10px;
}
.myself-updateFormGroup > label,
.myself-updateFormGroup > input[type="text"],
.myself-updateFormGroup > input[type="password"],
.myself-updateFormGroup > select{
    display: block;
    height: 34px;
}
.myself-updateFormGroup > label{
    width: 100px;
    line-height: 34px;
    font-weight: 500;
}
.myself-updateFormGroup > input[type="text"],
.myself-updateFormGroup > input[type="password"],
.myself-updateFormGroup > select{
    width: 330px;
    padding: 6px;
    border: 1px solid #dcdcdc;
    line-height: 22px;
}
.myself-updateSubmit{
    height: 34px;
    padding: 0 20px;
    border: none;
    margin-left: 100px;
}
/*===修改信息 结束===*/

/*===借阅情况===*/
.borrowTitle{
    line-height: 26px;
}
.resource-nav > li.home-navActive:before{
    border-bottom: 7px solid #fff;
}
.borrowList{
    width: 100%;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}
.borrowList > li{
    width: 100%;
    height: 43px;
    border-bottom: 1px solid #dcdcdc;
    line-height: 42px;
}
.borrowList > li > span{
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.borrowList-dateWarning{
    color: #f00;
}
.borrowListCon{
    max-height: 516px;
    overflow-y: auto;
}

/*===借阅情况 结束===*/