/**
  *@file:popup
  *@author:liyacheng
  *
  *@update:2016-08-17
  */


.mark{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 999999;
}

.popup{
    position: fixed;
    left: 0;
    right: 0;
    top: 25%;
    display: none;
    width: 900px;
    height: 480px;
    margin: 0 auto;
    border-radius: 8px;
    background: #fff;
    z-index: 999999999;
    behavior: url(PIE.htc);
}
.popup > h3{
    height: 50px;
    padding-left: 10px;
    border-radius: 8px 8px 0 0;
    background: #019b8d;
    line-height: 50px;
    color: #fff;
    behavior: url(PIE.htc);

}
.popup-close{
    padding: 0 15px;
    line-height: 50px;
    color: #fff;
}
.popup-close:hover{
    color: #cbe8e6;
}

@media screen and (max-width: 1366px) {
    .popup{
        top: 15%;
    }
}