/**
  *@file:update
  *@author:liyacheng
  *
  *@update:2016-08-31
  */


/*===updateForm===*/
.updateForm{
    width: 540px;
    margin: 25px auto 0;
    padding-left: 30px;
}
.updateForm-group{
    width: 530px;
}
.updateForm-group + .updateForm-group{
    margin-top: 25px;

}
.updateForm-group > input[type="text"],
.updateForm-group > select,
.registerForm-group > input[type="text"],
.registerForm-group > input[type="password"],
.registerForm-group > select{
    width: 346px;
    height: 66px;
    padding: 10px;
    border: 1px solid #aaa;
    line-height: 46px;
    color: #898989;
    letter-spacing: 2px;

}
.updateForm-group > label,
.registerForm-group > label{
    position: relative;
    display: inline-block;
    width: 100px;
    margin-right: 30px;
    color: #111;
    line-height: 62px;
    font-weight: 500;
    letter-spacing: 2px;
}
.updateForm-group > em,
.registerForm-group > em{
    position: relative;
    top: 18px;
    padding-left: 10px;
    color: #31303f;
}
.update-login{
    display: inline-block;
    margin: 15px 36px 15px 0;
    line-height: 50px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #05c8b6;
}
.update-login:hover{
    color: #ffa303;
}
.update-submit,
.register-submit{
    display: block;
    width: 476px;
    height: 66px;
    border: none;
    background: #05c8b6;
    line-height: 66px;
    color: #fff;
    text-align: center;
}
/*===updateForm 结束===*/

